body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color:darkgoldenrod;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    padding-bottom: 150px;
}

.keys{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.key{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 110px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 60px;
    /* height : 70px;*/
    width: 100px;
    text-align: center;
    border: 4px rgb(0, 0, 0) solid;
    border-radius: 8px;
}

kbd{
    color: whitesmoke;
    /* font-weight: bold; */
}

.sound{
    font-size: 20px;
    text-align: center;
    color: darkgoldenrod;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}